<h2>登録情報の更新</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
    <%= f.label :ユーザーネーム %><br />
    <%= f.text_field :username, class: "form-control" %>
  </div>
  <h3>アイコンを消す</h3>
  <%= f.check_box :remove_image %><br/>
  <h3>アイコンを変える</h3>
  <div class="field">
    <%= f.label :image %><br/>
    <%= f.file_field :image %>
  </div>
  
  <div class="field">
    <%= f.label :award %><br/>
    <%= f.text_field :award %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<p><%= button_to "退会する", registration_path(resource_name), data: { confirm: "退会したら全ての記録が削除されます。本当によろしいですか?" }, method: :delete %></p>

<%= link_to "Back", :back %>
