<h1 align="center">工夫FACTORY</h1>
<nav id="menuber">
  <ul class="menu-text">
    <li><%= link_to "マイページ", mainnnote_mypage_path %></li>
    <li><%= link_to "ログアウト", destroy_user_session_path, method: :get %></li>
  </ul>
  <ul class="menu-text">
    <li><%= link_to 'トップ', root_path %></li>
    <li><%= link_to "工夫FACTORYとは？", mainnnote_about_path %></li>
    <li><%= link_to "新規工夫投稿", new_mainnote_path %></li>   
    <li><%= link_to "工夫職人一覧", mainnnote_usershow_path %></li>
  </ul>
</nav>
<div class="main-margin">
  <h1>ユーザー情報更新</h1>
  <div class="main_border">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="field">
        <%boolen_username = ""%>
        <% resource.errors.full_messages_for(:username).each do |message| %>
          <%boolen_username = "false"%>
        <% end %>
        <%if boolen_username == "false"%>
          <%= f.text_field :username, class: "form-control", class: "error_form" %>
          <% resource.errors.full_messages_for(:username).each do |message| %>
            <p class="error_massege_text"><strong><%= message %></strong></p>
          <% end %>
        <%else%>
          <%= f.text_field :username, class: "form_size" %>
        <%end%>
      </div>
      <!--ユーザーのアイコンフォルダの有無で判定させる。現在のアバター、アバターの再設定、アバター削除の枠を作成-->
      <%if @current_user.image.present?%>
        <p><strong>現在のアイコン</strong></p>
        <img src=<%= @current_user.image %> width="100" height="60">
        <!--<h3>アイコンを削除　※チェックを入れるとアイコンは消えます</h3>
        <%= f.check_box :remove_image %><br/>-->
        <p><strong>アイコンを変更　※jpg,jpeg,pngのみ対応しています。</strong></p>
        <div class="field">
          <%= f.file_field :image%>
        </div>
      <%else%>
        <p><strong>アイコンを設定</strong></p>
        <div class="field">
          <%= f.file_field :image %>
        </div>
      <%end%>

      <p><strong>一言</strong></p>
      <div class="field">
          <%= f.text_field :award, class:"form_size" %>
      </div>

      <div class="field">
        <p><strong><%= f.label :職業 %></strong></p>
        <%boolen_occupation = ""%>
        <% resource.errors.full_messages_for(:occupation).each do |message| %>
          <%boolen_occupation = "false"%>
        <% end %>
        <%if boolen_occupation == "false"%>
          <%= f.select :occupation, [["学生", "学生"], ["サラリーマン", "サラリーマン"], ["主婦", "主婦"]], include_blank: "職業を選択して下さい",class: 'error_form' %>
          <% resource.errors.full_messages_for(:occupation).each do |message| %>
            <p class="error_massege_text"><strong><%= message %></strong></p>
          <% end %>
        <%else%>
          <%= f.select :occupation, [["学生", "学生"], ["サラリーマン", "サラリーマン"], ["主婦", "主婦"]], include_blank: "職業を選択して下さい" %>
        <% end %>   
      </div>

      
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="actions">
        <%= f.submit "更新" %>
      </div>
    <% end %>
    <%= button_to "退会する", registration_path(resource_name), data: { confirm: "退会したら全ての記録が削除されます。本当によろしいですか?" }, method: :delete %>
  </div>
</div>