<h1>Edit SNS</h1>

<%= form_with model: @mainnote,:url => {:action => :update}  do |form| %>
  <% @mainnote.errors.full_messages_for(:text).each do |message| %>
    <div><%= message %></div>
  <% end %>
  <div>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
<%= link_to ' TOPã¸', root_path %>