<%= link_to "New Article", new_mainnote_path %>
<%= link_to "マイページへ", mainnnote_mypage_path %>
<%= link_to "このサイトについて", mainnnote_about_path %>
<%= link_to "投稿者一覧へ", mainnnote_usershow_path %>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>

<h1>Edit</h1>

<%= form_with model: @mainnote,:url => {:action => :update}  do |form| %>
  
  <% @mainnote.errors.full_messages_for(:text).each do |message| %>
    <div><%= message %></div>
  <% end %>
  
  <% @mainnote.errors.full_messages_for(:title).each do |message| %>
    <div><%= message %></div>
  <% end %>

  <div>
    <%= form.label :title %><br>
    <%= form.text_area :title %>
  </div>

  <div>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </div>

  <div>
      <%= form.label :画像1 %><br/>
      <%= form.file_field :image1 %>
  </div>

  <div>
      <%= form.label :画像2 %><br/>
      <%= form.file_field :image2 %>
  </div>

  <div>
      <%= form.label :画像3 %><br/>
      <%= form.file_field :image3 %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>