<h1>IDEA FACTORY</h1>
<nav id="menuber">
  <ul class="menu-text">
    <li><%= link_to 'HOME', root_path %></li>
    <li><%= link_to "MAKE NEW IDEA", new_mainnote_path %></li>
    <li><%= link_to "MYPAGE", mainnnote_mypage_path %></li>
    <li><%= link_to "ABOUT IDEA FACTORY", mainnnote_about_path %></li>
    <li><%= link_to "USER LIST", mainnnote_usershow_path %></li>
    <li><%= link_to "LOGOUT", destroy_user_session_path, method: :get %></li>
  </ul>
</nav>
<div class="title">
  <h2>投稿更新ページ</h2>
</div>
<div class="main-content">
<%= form_with model: @mainnote,:url => {:action => :update}  do |form| %>
  
  <% @mainnote.errors.full_messages_for(:text).each do |message| %>
    <div><%= message %></div>
  <% end %>
  <% @mainnote.errors.full_messages_for(:title).each do |message| %>
    <div><%= message %></div>
  <% end %>

  <div>
    <p><strong><%= form.label :"タイトル" %></strong></p><br>
    <%= form.text_area :title %>
  </div>

  <div>
    <%= form.label :"説明文" %><br>
    <%= form.text_area :text %>
  </div>

  <!--画像１があれば表示して削除ボタンを表示。空ならフォームを表示-->
  <%if @mainnote.image1.present?%>
    <p><strong><%= form.label :画像1 %></strong></p><br/>
    <img src=<%= @mainnote.image1 %> width="200" height="120"><br/>
    <%= form.submit value: "添付画像を消す",name: "delete_image1",class: "btn_send" %><br/>
  <%else%>
    <div>
      <p><strong><%= form.label :画像1 %></strong></p><br/>
      <%= form.file_field :image1%><br/>
    </div>
  <%end%>
 <!--画像２があれば表示して削除ボタンを表示。空ならフォームを表示-->
   <%if @mainnote.image2.present?%>
    <p><strong><%= form.label :画像2 %></strong></p><br/>
    <img src=<%= @mainnote.image2 %> width="200" height="120"><br/>
    <%= form.submit value: "添付画像を消す",name: "delete_image2",class: "btn_send" %><br/>
  <%else%>
    <div>
      <p><strong><%= form.label :画像2 %></strong></p><br/>
      <%= form.file_field :image2 %><br/>
    </div>
  <%end%>
 <!--画像３があれば表示して削除ボタンを表示。空ならフォームを表示-->
  <%if @mainnote.image3.present?%>
    <p><strong><%= form.label :画像3 %></strong></p><br/>
    <img src=<%= @mainnote.image3 %> width="200" height="120"><br/>
    <%= form.submit value: "添付画像を消す",name: "delete_image3",class: "btn_send" %><br/>
  <%else%>
    <div>
      <p><strong><%= form.label :画像3 %></strong></p><br/>
      <%= form.file_field :image3 %><br/>
    </div>
  <%end%>

  <div>
    <%= form.submit :"投稿を更新する" %>
  </div>
<% end %>
</div>