<h2><%= current_user.username%>さんのマイページ</h2>
<h1>メール：<%= current_user.email%></h1>
<h1>アカウント作成日<%= current_user.created_at%></h1>
<h1>一言<%= current_user.award%></h1>
<img src=<%= @current_user.image %> width="100" height="60">
<ul>
  <% @mainnote.each do |mainnote| %>
    <li>
      <%= link_to mainnote.text, mainnote %>
    </li>
  <% end %>
</ul>
<% future_point=0%>
<% surprisingly_point=0%>
<% realization_point=0%>
<% @notecomment.each do |notecomment| %>
    <%future_point+=notecomment.future_point%>
    <%surprisingly_point+=notecomment.surprisingly_point%>
    <%realization_point+=notecomment.realization_point%>
<% end %>
<h3>これまでの獲得ポイント</h3>
<strong>将来性</strong>
<p><%=future_point%><p>
<strong>意外性</strong>
<p><%=surprisingly_point%><p>
<strong>実現性</strong>
<p><%=realization_point%><p>

<%= link_to ' TOPへ', root_path %>
<%= link_to ' 登録情報編集', edit_user_registration_path %>