<h1>IDEA FACTORY</h1>
<nav id="menuber">
  <ul class="menu-text">
    <li><%= link_to 'HOME', root_path %></li>
    <li><%= link_to "MAKE NEW IDEA", new_mainnote_path %></li>
    <li><%= link_to "MYPAGE", mainnnote_mypage_path %></li>
    <li><%= link_to "ABOUT IDEA FACTORY", mainnnote_about_path %></li>
    <li><%= link_to "USER LIST", mainnnote_usershow_path %></li>
    <li><%= link_to "LOGOUT", destroy_user_session_path, method: :get %></li>
  </ul>
</nav>

<div class="title">
  <h2>新規投稿</h2>
</div>
<div class="main-content">
<%= form_with model: @mainnote,:url => {:action => :create}  do |form| %>
  <div>
    <%= form.hidden_field :user_id, value: current_user.id, :readonly => true%>
  </div>

  <% @mainnote.errors.full_messages_for(:text).each do |message| %>
    <div><%= message %></div>
  <% end %>
  
  <% @mainnote.errors.full_messages_for(:title).each do |message| %>
    <div><%= message %></div>
  <% end %>
  
  <div>
    <p><strong><%= form.label :title %></strong></p><br>
    <%= form.text_area :title %>
  </div>
  
  <div>
    <p><strong><%= form.label :text %></strong></p><br>
    <%= form.text_area :text %>
  </div>
  <p><strong>アイデアの図やイラストがあれば載せましょう。<strong><p>
  <div>
      <p><strong><%= form.label :画像1 %></strong></p>
      <%= form.file_field :image1 %>
  </div>

  <div>
      <p><strong><%= form.label :画像2 %></strong></p>
      <%= form.file_field :image2 %>
  </div>

  <div>
      <p><strong><%= form.label :画像3 %></strong></p>
      <%= form.file_field :image3 %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
</div>