<h1>IDEA FACTORY</h1>
<nav id="menuber">
  <ul class="menu-text">
    <li><%= link_to 'HOME', root_path %></li>
    <li><%= link_to "MAKE NEW IDEA", new_mainnote_path %></li>
    <li><%= link_to "MYPAGE", mainnnote_mypage_path %></li>
    <li><%= link_to "ABOUT IDEA FACTORY", mainnnote_about_path %></li>
    <li><%= link_to "USER LIST", mainnnote_usershow_path %></li>
    <li><%= link_to "LOGOUT", destroy_user_session_path, method: :get %></li>
  </ul>
</nav>
<h1>New</h1>

<%= form_with model: @mainnote,:url => {:action => :create}  do |form| %>
  <div>
    <%= form.hidden_field :user_id, value: current_user.id, :readonly => true%>
  </div>

  <% @mainnote.errors.full_messages_for(:text).each do |message| %>
    <div><%= message %></div>
  <% end %>
  
  <% @mainnote.errors.full_messages_for(:title).each do |message| %>
    <div><%= message %></div>
  <% end %>
  
  <div>
    <strong><p><%= form.label :title %></strong></p><br>
    <%= form.text_area :title %>
  </div>
  
  <div>
    <strong><p><%= form.label :text %></strong></p><br>
    <%= form.text_area :text %>
  </div>

<strong><p>アイデアの図やイラストがあれば載せましょう。<strong><p>
  <div>
      <strong><p><%= form.label :画像1 %></strong></p><br/>
      <%= form.file_field :image1 %>
  </div>

  <div>
      <strong><p><%= form.label :画像2 %></strong></p><br/>
      <%= form.file_field :image2 %>
  </div>

  <div>
      <strong><p><%= form.label :画像3 %></strong></p><br/>
      <%= form.file_field :image3 %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<%= link_to ' TOPへ', root_path %>