<h1>New SNS</h1>

<%= form_with model: @mainnote,:url => {:action => :create}  do |form| %>
  <div>
    <%= form.text_field :user_id, value: current_user.id, :readonly => true%>
  </div>

  <div>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
<%= link_to ' TOPã¸', root_path %>