<h1><%= @mainnote.usenamer %></h1>

<img src=<%= @mainnote.user_icon %> width="100" height="60">
<p><%= @mainnote.text %></p>

<% future_point=0%>
<% surprisingly_point=0%>
<% realization_point=0%>

<% @notecomment.each do |notecomment| %>
  <%future_point+=notecomment.future_point%>
  <%surprisingly_point+=notecomment.surprisingly_point%>
  <%realization_point+=notecomment.realization_point%>
<% end %>

<h3>これまでの獲得ポイント</h3>
<strong>将来性</strong>
<p><%=future_point%><p>
<strong>意外性</strong>
<p><%=surprisingly_point%><p>
<strong>実現性</strong>
<p><%=realization_point%><p>

<% if @mainnote.user_id == current_user.id %>
  <ul>
    <li><%= link_to "Edit", edit_mainnote_path(@mainnote) %></li>
    <li><%= link_to "Destroy", mainnote_path(@mainnote),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %></li>
  </ul>
<% end %>
<h2>Comments</h2>
<%= render "notecomments/comment" %>
<% if @mainnote.user_id != current_user.id %>
    <% @mainnote.notecomments.each do |notecomment| %>
      <%if @notecomment.user_id != current_user.id%>
        <h2>Add a comment:</h2>
        <%= render 'notecomments/form' %>
      <%end%>
    <% end %>
<% end %>
<%= link_to ' TOPへ', root_path %>