<h1>IDEA FACTORY</h1>
<nav id="menuber">
  <ul class="menu-text">
    <li><%= link_to 'HOME', root_path %></li>
    <li><%= link_to "ABOUT IDEA FACTORY", mainnnote_about_path %></li>
    <li><%= link_to "MAKE NEW IDEA", new_mainnote_path %></li>   
    <li><%= link_to "USER LIST", mainnnote_usershow_path %></li>
    <li><%= link_to "MYPAGE", mainnnote_mypage_path %></li>
    <li><%= link_to "LOGOUT", destroy_user_session_path, method: :get %></li>
  </ul>
</nav>

<div class="main-margin">
  <h2><%= current_user.username%>さんログイン中</h2>
  <div class="main_border">
    <ul>
      <% @mainnote.each do |mainnote| %>
        <li><p class="top_title"><strong><%= link_to mainnote.title, mainnote %></strong></p></li>
        <%if mainnote.image1.blank? %>
          <img src="/assets/Noimage.png" class="top-content_image">
        <% else %>
          <img src=<%= mainnote.image1 %> class="top-content_image">
        <%end %>
      <% end %>
    </ul>
  </div>
</div>