<h1>IDEA FACTORY</h1>
<nav id="menuber">
  <ul class="menu-text">
    <li><%= link_to 'HOME', root_path %></li>
    <li><%= link_to "ABOUT IDEA FACTORY", mainnnote_about_path %></li>
    <li><%= link_to "MAKE NEW IDEA", new_mainnote_path %></li>   
    <li><%= link_to "USER LIST", mainnnote_usershow_path %></li>
    <li><%= link_to "MYPAGE", mainnnote_mypage_path %></li>
    <li><%= link_to "LOGOUT", destroy_user_session_path, method: :get %></li>
  </ul>
</nav>

<div class="main-margin">
  <h2><%= current_user.username%>でログインしています</h2>
  <div class="main_border">
    <% @mainnote.each do |mainnote| %>
    <div class="top_contents">
      <div class="top_content">
        <%if mainnote.image1.blank? %>
            <img src="/assets/Noimage.png" class="top-content_image">
        <% else %>
            <img src=<%= mainnote.image1 %> class="top-content_image">
        <%end %>
      </div>

      <div class="top_content">
        <p><strong><%= link_to mainnote.title, mainnote %></strong></p>
      </div>
      
      <div class="top_user_area">
        <% @user_mainnote=User.where(id: mainnote.user_id) %>
        <% @user_mainnote.each do |user| %>
          <%if user.image.blank? %>
            <img src="/assets/Noimageicon.jpeg" class="user_icon">
          <% else %>
          <img src=<%= user.image %>  class="user_icon">
          <%end %>
          <div class="top_user_content">
            <p><a href="/mainnnote/userpg/<%= user.id %>"><%= user.username %></a><p>
          </div>
        <%end%>
      </div>
    </div>
  <% end %>
  </div>
</div>