
<nav id="menuber">
  <ul class="menu-text">
    <li><%= link_to ' TOPへ', root_path %></li>
    <li><%= link_to "New Article", new_mainnote_path %></li>
    <li><%= link_to "マイページへ", mainnnote_mypage_path %></li>
    <li><%= link_to "このサイトについて", mainnnote_about_path %></li>
    <li><%= link_to "投稿者一覧へ", mainnnote_usershow_path %></li>
    <li><%= link_to "ログアウト", destroy_user_session_path, method: :get %></li>
  </ul>
</nav>

<h1>SNS</h1>
<h1><%= current_user.username%>のさんこんにちは！</h1>

<ul>
  <% @mainnote.each do |mainnote| %>
    <li>
      <%= link_to mainnote.title, mainnote %>
    </li>
  <% end %>
</ul>
