<h1>IDEA FACTORY</h1>
<nav id="menuber">
  <ul class="menu-text">
    <li><%= link_to 'HOME', root_path %></li>
    <li><%= link_to "MAKE NEW IDEA", new_mainnote_path %></li>
    <li><%= link_to "MYPAGE", mainnnote_mypage_path %></li>
    <li><%= link_to "ABOUT IDEA FACTORY", mainnnote_about_path %></li>
    <li><%= link_to "USER LIST", mainnnote_usershow_path %></li>
    <li><%= link_to "LOGOUT", destroy_user_session_path, method: :get %></li>
  </ul>
</nav>

<!--ユーザー一覧を表示。ログインしているユーザーにはマイページのリンクを表示させる。-->
<div class="main-margin">
  <h2>ユーザー一覧</h2>
  <div class="main_border">
  <ul>
    <% @user.each do |user| %>
      <% if user.id == current_user.id%>
        <img src = <%= current_user.image %> class="user_icon">
        <%= link_to current_user.username, mainnnote_mypage_path %>
      <% else %>
        <%if user.image.blank? %>
          <img src="/assets/Noimageicon.jpeg" class="user_icon">
        <% else %>
          <img src=<%= user.image %>  class="user_icon">
        <%end %>
        <a href="userpg/<%= user.id %>"><%= user.username %></a>
      <% end %>  
      <br>
    <% end %>
  </ul>
  </div>
</div>
