<nav id="menuber">
  <ul class="menu-text">
    <li><%= link_to ' TOPへ', root_path %></li>
    <li><%= link_to "New Article", new_mainnote_path %></li>
    <li><%= link_to "マイページへ", mainnnote_mypage_path %></li>
    <li><%= link_to "このサイトについて", mainnnote_about_path %></li>
    <li><%= link_to "投稿者一覧へ", mainnnote_usershow_path %></li>
    <li><%= link_to "ログアウト", destroy_user_session_path, method: :get %></li>
  </ul>
</nav>

<h1>ユーザー一覧</h1>
<!--ユーザー一覧を表示。ログインしているユーザーにはマイページのリンクを表示させる。-->
<ul>
  <% @user.each do |user| %>
    <% if user.id==current_user.id%>
      <li>
       <%= link_to current_user.username, mainnnote_mypage_path %>
      </li>
    <% else %>
      <li>
        <a href="userpg/<%= user.id %>">
          <%= user.username %>
        </a>
      </li>
    <% end %>  
  <% end %>
</ul>
