<h1>IDEA FACTORY</h1>
<nav id="menuber">
  <ul class="menu-text">
    <li><%= link_to 'HOME', root_path %></li>
    <li><%= link_to "ABOUT IDEA FACTORY", mainnnote_about_path %></li>
    <li><%= link_to "MAKE NEW IDEA", new_mainnote_path %></li>   
    <li><%= link_to "USER LIST", mainnnote_usershow_path %></li>
    <li><%= link_to "MYPAGE", mainnnote_mypage_path %></li>
    <li><%= link_to "LOGOUT", destroy_user_session_path, method: :get %></li>
  </ul>
</nav>

<div class="title">
  <h2><%= @user.username %>さんのページ<h2>
</div>
<div class="main-margin">
  <%if @user.image.blank? %>
    <img src="/assets/noimageicon.jpeg" width="100" height="60">
  <% else %>
    <img src=<%= @user.image %> width="100" height="60"> 
  <%end%>
 <h2>一言</h2>
 <p><%= @user.award%></p>
<ul>
<!--ポイントをview上で計算-->
<% all_point=0%>
<% future_point=0%>
<% surprisingly_point=0%>
<% realization_point=0%>
<% @notecomment.each do |notecomment| %>
    <%future_point+=notecomment.future_point%>
    <%surprisingly_point+=notecomment.surprisingly_point%>
    <%realization_point+=notecomment.realization_point%>
<% end %>
<!--DBに格納してもいいが更新処理に時間がかかるため下記やり方に変更-->
<%all_point=future_point+surprisingly_point+realization_point%>
<p><strong>現在のアイデアランク</strong></p>
<% if all_point<2 && all_point>=0%>
  <img src="/assets/Norank.png" width="100" height="100">
<% elsif  all_point<4 && all_point>=2%>
  <img src="/assets/Bronze.png" width="100" height="100">
<% elsif  all_point<6 && all_point>=4%>
  <img src="/assets/Silver.png" width="100" height="100">
<% elsif  all_point<8 && all_point>=6%>
  <img src="/assets/Gold.png" width="100" height="100">
<% elsif all_point>=8%>
  <img src="/assets/Diamond.png" width="100" height="100">
<%end%>

<strong><p>これまでの獲得ポイント</strong></p>
<p><%=all_point=0%>pt</p>
<p><strong>将来性</strong></p>
<p><%=future_point%>pt</p>
<p><strong>意外性</strong></p>
<p><%=surprisingly_point%>pt</p>
<p><strong>実現性</strong></p>
<p><%=realization_point%>pt</p>

<p><strong>過去のアイデア一覧</strong></p>
<% @mainnote.each do |mainnote| %>   
  <%= link_to mainnote.title, mainnote %><br>
<% end %>
</div>