<h1>IDEA FACTORY</h1>
<nav id="menuber">
  <ul class="menu-text">
    <li><%= link_to 'HOME', root_path %></li>
    <li><%= link_to "MAKE NEW IDEA", new_mainnote_path %></li>
    <li><%= link_to "MYPAGE", mainnnote_mypage_path %></li>
    <li><%= link_to "ABOUT IDEA FACTORY", mainnnote_about_path %></li>
    <li><%= link_to "USER LIST", mainnnote_usershow_path %></li>
    <li><%= link_to "LOGOUT", destroy_user_session_path, method: :get %></li>
  </ul>
</nav>
<div class="title">
  <h2>ユーザー一覧</h2>
</div>
<!--ユーザー一覧を表示。ログインしているユーザーにはマイページのリンクを表示させる。-->
<div class="main-content">
<ul>
  <% @user.each do |user| %>
    <% if user.id==current_user.id%>
      <li>
       <%= link_to current_user.username, mainnnote_mypage_path %>
      </li>
    <% else %>
      <li>
        <a href="userpg/<%= user.id %>">
          <%= user.username %>
        </a>
      </li>
    <% end %>  
  <% end %>
</ul>
</div>
