<h1>IDEA FACTORY</h1>
<nav id="menuber">
  <ul class="menu-text">
    <li><%= link_to 'HOME', root_path %></li>
    <li><%= link_to "MAKE NEW IDEA", new_mainnote_path %></li>
    <li><%= link_to "MYPAGE", mainnnote_mypage_path %></li>
    <li><%= link_to "ABOUT IDEA FACTORY", mainnnote_about_path %></li>
    <li><%= link_to "USER LIST", mainnnote_usershow_path %></li>
    <li><%= link_to "LOGOUT", destroy_user_session_path, method: :get %></li>
  </ul>
</nav>

<h1> <%= @user.username %>さんのページ</h1>
 <img src=<%= @user.image %> width="100" height="60">
<ul>
<!--ポイントをview上で計算-->
<% all_point=0%>
<% future_point=0%>
<% surprisingly_point=0%>
<% realization_point=0%>
<% @notecomment.each do |notecomment| %>
    <%future_point+=notecomment.future_point%>
    <%surprisingly_point+=notecomment.surprisingly_point%>
    <%realization_point+=notecomment.realization_point%>
<% end %>
<!--DBに格納してもいいが更新処理に時間がかかるため下記やり方に変更-->
<%all_point=future_point+surprisingly_point+realization_point%>
<h3>あなたのランクは・・・・</h3>
<% if all_point<2 && all_point>=0%>
  <img src="/assets/Norank.png" width="100" height="100">
<% elsif  all_point<4 && all_point>=2%>
  <img src="/assets/Bronze.png" width="100" height="100">
<% elsif  all_point<6 && all_point>=4%>
  <img src="/assets/Gold.png" width="100" height="100">
<% elsif  all_point<8 && all_point>=6%>
  <img src="/assets/Diamond.png" width="100" height="100">
<% elsif all_point>=8%>
  <h1>ダイヤモンドランク</h1>
<%end%>

<h3>これまでの獲得ポイント</h3>
<p><%=all_point=0%>pt</p>
<strong>将来性</strong>
<p><%=future_point%>pt<p>
<strong>意外性</strong>
<p><%=surprisingly_point%>pt<p>
<strong>実現性</strong>
<p><%=realization_point%>pt<p>

<ul>
  <% @mainnote.each do |mainnote| %>
      <li>
        <%= link_to mainnote.title, mainnote %>
      </li>
  <% end %>
</ul>