<h1>IDEA FACTORY</h1>
<nav id="menuber">
  <ul class="menu-text">
    <li><%= link_to "MYPAGE", mainnnote_mypage_path %></li>
    <li><%= link_to "LOGOUT", destroy_user_session_path, method: :get %></li>
  </ul>
  <ul class="menu-text">
    <li><%= link_to 'HOME', root_path %></li>
    <li><%= link_to "ABOUT IDEA FACTORY", mainnnote_about_path %></li>
    <li><%= link_to "MAKE NEW IDEA", new_mainnote_path %></li>   
    <li><%= link_to "USER LIST", mainnnote_usershow_path %></li>
  </ul>
</nav>
<!--ユーザー一覧を表示。ログインしているユーザーにはマイページのリンクを表示させる。-->
<div class="main-margin">
  <h2>ユーザー一覧</h2>
  <div class="main_border">
      <% @user.each do |user| %>
        <div class="userlist_user_area">
        <% if user.id == current_user.id%>
          <div class="userlist_user_content">
            <img src = <%= current_user.image %> class="user_icon">
            <p><%= link_to current_user.username, mainnnote_mypage_path %></p>
          </div>
        <% else %>
          <%if user.image.blank? %>
            <div class="userlist_user_content">
              <img src="/assets/Noimageicon.jpeg" class="user_icon">
              <p><a href="userpg/<%= user.id %>"><%= user.username %></a></p>
            </div>
          <% else %>
            <div class="userlist_user_content">
              <img src=<%= user.image %>  class="user_icon">
              <p><a href="userpg/<%= user.id %>"><%= user.username %></a></p>
            </div>
          <%end %>
        <% end %>
        </div>  
      <% end %>

  </div>
</div>
